/* general page formats */
* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #b0b3b2;
    overflow: auto;
}
#ksu-logo {
    float: left;
}
#header-title {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 1;
    margin: 80px 0 0 750px;
}

#yellow-bar {
    height: 20px;
    background-color: #ffc629;
}

nav {
    background-color: #231f20;
    width: 160px;
    height: 100vh;
    padding-top: 60px;
    float: left;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}
nav a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
    display: block;
    padding-top: 30px;
    text-align: center;
}
nav a:hover {
    color: #b0b3b2;
    text-decoration: underline;
}
nav a:active {
    color: #ffc629;
}

.main {
    height: 100%;
    padding-left: 160px; /*to offset the nav*/
}
.home-content,
.milestone-1-content,
.milestone-2-content,
.milestone-3-content,
.milestone-4-content {
    padding: 100px 20px 20px 20px;
    width: 100%-20px; /*fixes issue where the this container is wider than everything else*/
    height: 100%;
    width: 60%;
    margin: auto;
}

.page-title {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    font-weight: 400;
    font-style: italic;
}
.section-title {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
}
.section-details {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
}

.divider {
    border-top: 1px solid #dadada;
    height: 1px;
    width: 70%;
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: auto;
    margin-right: auto;
}

/* home page */
#milestoneTable {
    width: 100%;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    border-spacing: 0;
    margin: 0 0 150px 0;
}
#milestoneTable th {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: black;
    background-color: #ffc629;
    text-align: left;
}
#milestoneTable td {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
}
#milestoneTable td,
th {
    padding: 10px 10px 10px 10px;
}
.topLeft {
    border-top-left-radius: 10px;
}
.topRight {
    border-top-right-radius: 10px;
}
.bottomLeft {
    border-bottom-left-radius: 10px;
}
.bottomRight {
    border-bottom-right-radius: 10px;
}
/* used for multiple tables */
tr:nth-child(even) {
    background-color: #e5e5e5;
}

.milestone-link {
    color: black;
    text-decoration: none;
}
.milestone-link:hover {
    text-decoration: underline;
}
.milestone-link:visited {
    color: black;
}

/* milestone 1 page */
#selection-header {
    height: 40px;
    width: 60%;
    background-color: #ffc629;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 50px;
    float: left;
}
#selection-header h2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 5px 0 0 20px;
}
#selection-body {
    width: 60%;
    background-color: #e5e5e5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 0;
    float: left;
}
#selection-body label {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 400;
    padding-left: 20px;
}
#selection-body select {
    float: right;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

#showSourceBtn {
    float: right;
    background-color: #231f20;
    color: white;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
#showSourceBtn:hover {
    background-color: #4e4e4e;
}
#showSourceBtn:active {
    background-color: #ffc629;
}

/* for all sources */
#result-wrap {
    margin-top: 150px;
    height: 100%;
    width: 100%;
}
#itbs,
#itbl,
#gs,
#gl {
    height: 100%;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
}

/* source 1 */
#itbsLeft {
    border-right: 1px solid #e5e5e5;
    width: 40%;
    height: 100%;
    padding: 20px;
    float: left;
}
#itbsImg {
    margin: auto;
    display: block;
}
#itbsTitle {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 400;
}
#itbsSubTitle {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
}
#itbsTable {
    border-spacing: 0;
}
#itbsTable td {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 5px;
}

/* source 2 */
.book {
    width: 100%;
    height: 351px;
    border-bottom: 1px solid #e5e5e5;
}
.book img {
    float: left;
}
.imgWrap {
    float: left;
}
.book table {
    border-spacing: 0;
    padding-top: 50px;
}
.book td {
    vertical-align: top;
    background-color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
}
.floatClear {
    clear: both;
}

/* source 3 */
#gsLeft {
    width: 40%;
    height: 100%;
    padding: 20px;
    float: left;
}
#gsImg {
    margin: auto;
    display: block;
    padding-top: 45px;
    padding-bottom: 40px;
}
#gsTitle {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 400;
}
#gsSubtitle {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
}
#gsTable {
    border-left: 1px solid #e5e5e5;
    border-spacing: 0;
}
#gsTable td {
    vertical-align: top;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 5px;
}

/* source 4 reused alot from 2*/
.gImgWrap {
    float: left;
    padding: 80px;
}

/* milestone 2 page */
#search {
}

#search-header {
    height: 40px;
    width: 70%;
    background-color: #ffc629;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 50px;
    float: left;
}
#search-header h2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 5px 0 0 20px;
}
#search-body {
    width: 70%;
    background-color: #e5e5e5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 0;
    float: left;
    /* text-align: center; */
}
#search-body input {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin: 10px 0px 10px 10px;
    padding-left: 10px;
    width: 80%;
    border: none;
    border-radius: 10px;
    float: left;
}
#search-body input::placeholder {
    color: #e5e5e5;
}

#searchBtn {
    float: right;
    background-color: #231f20;
    color: white;
    width: 15%;
    padding: 10px;
    margin: 10px 10px 10px 0px;
    border-radius: 10px;
    border: none;
}
#searchBtn:hover {
    background-color: #4e4e4e;
}
#searchBtn:active {
    background-color: #ffc629;
}

#bookshelfBtn {
    float: right;
    background-color: #231f20;
    color: white;
    padding: 10px;
    height: 55px;
    border-radius: 10px;
    border: none;
}

#navBar {
    background-color: grey;
    width: 100%;
    height: 30px;
    margin-top: 170px;
    position: relative; /*so that back button left isnt left of the page*/
}
#backBtn {
    background-color: hotpink;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
#pageNumberRow {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background-color: indigo;
    height: 100%;
    width: 20px;
}

#searchResult {
    margin-top: 25px;
}
#bookList {
    background-color: teal;
    width: 100%;
    height: 200px;
}

#bookDetails {
    background-color: tomato;
    width: 100%;
    height: 200px;
}

#bookshelf {
    background-color: yellowgreen;
    width: 100%;
    height: 200px;
}

.bookRes {
    background-color: violet;
    width: 100px;
    height: 100px;
}
